.dropzone {
  border: 2px solid black;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  input {
    width: 50px;
  }
}

.fileCount {
  display: block;
  margin-top: 20px;
}
.img {
  width: 100%;
}